html, body {
    padding: 0;
    margin: 0;
}

.backgroundImg {
    background-image: url('images/backgroundImage.jpeg');
    height: 1000px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 80%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    height: 35px;
    width: 100px;
    margin: 15px;
    border: 0px;
    border-radius: 8px;
}